@page
@model LoginModel


<style>
    body {
        background: linear-gradient(to bottom, #7F8C8D,#D3D3D3);
    }

    .login-box {
        max-width: 400px;
        margin-top: 50px;
        padding: 20px;
        border-radius: 10px;
        background-color: #f1f1f1;
    }

        .login-box h4 {
            text-align: center;
            margin-bottom: 20px;
        }

    .form-group {
        margin-bottom: 10px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    .btn-primary {
        display: block;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: #1E90FF;
        color: #fff;
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #0066cc
        }

    .navbar {
        background-color: #333;
        border-radius: 25px; /* add rounded corners */
        height: 65px;
        display: flex;
        justify-content: center;
    }

    .nav-links {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }

        .nav-links li {
            margin: 0 10px;
        }

        .nav-links a {
            color: #000000;
            text-decoration: none;
            font-size: 16px;
            padding: 10px;
            border-radius: 20px; /* add rounded corners */
        }

            .nav-links a:hover {
                background-color: #000000;
            }

</style>

<h1>@ViewData["Title"]</h1>
<div class="row justify-content-center">
    <div class="col-md-4">
        <section class="login-box">
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.UserName"></label>
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
